footer {
  background-color: $portfolio-primary;
  padding: 5rem;
  color: $portfolio-cta-text;
  font-size: 1rem;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer-nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.credit {
  text-align: center;
  font-size: 0.8rem;
  color: $portfolio-cta-text;
  margin-top: 1rem;
}
.footer-nav li a {
  color: $portfolio-cta-text;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $portfolio-cta-background-hover;
  }
}
.social-links li a {
  color: $portfolio-cta-text;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $portfolio-cta-background-hover;
  }
}
