.navbar {
  li {
    list-style: none;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-md $spacing-lg;
  background-color: $dark;
  box-shadow: 0 2px 4px $dark-hover;

  &__logo {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: $white;
  }

  &__link {
    color: $white;
    font-size: $font-size-md;
    text-decoration: none;
    margin-left: $spacing-md;
    transition: color $transition-duration;

    &:hover {
      color: $primary;
    }
  }

  &__items {
    display: flex;
    list-style: none;
  }
}
