.case-study {
  font-size: $portfolio-primary-font;
  padding: 3rem;
  padding-top: 10rem;
  max-width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .project-links {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    margin-bottom: 2rem;

    a {
      color: $portfolio-cta-text;
      text-decoration: none;
      &:hover {
        color: $portfolio-link;
      }
    }
  }
  .case-study__image {
    width: 80%;
    height: 400px;
    position: relative;
  }
  .case-study__image > img {
    position: absolute;
    object-fit: contain;
  }
  .back-to-home {
    width: 22rem;
    display: flex;
    align-items: center;
    color: $portfolio-cta-text;
    text-decoration: none;
    &:hover {
      color: $portfolio-link;
    }
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  img,
  video {
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  li {
    margin-bottom: 0.5rem;
  }

  @media (max-width: 768px) {
    padding: 1.5rem;
    max-width: 95vw;
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }

    p,
    ul,
    li {
      font-size: 1.2rem;
    }
  }
}
