/* _forms.scss */

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
}

button {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: $border-radius;
  padding: $spacing-md $spacing-lg;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: $primary-hover;
  }

  &:disabled {
    background-color: $input-disabled-color;
    cursor: not-allowed;
  }
}

.clock-out:not(:disabled) {
  &:hover,
  &:focus {
    background-color: $danger-hover;
  }
}

.error-message {
  font-size: 0.875rem;
  color: $error-color;
  margin-top: $spacing-xs;
}

.success-message {
  font-size: 0.875rem;
  color: $success-color;
  margin-top: $spacing-xs;
}
