.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100dvh;
  background-color: rgba($portfolio-text, 1);
  z-index: 4900;
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  transform: translate3d(100%, 0, 0);

  &.open {
    transform: translate3d(0, 0, 0);
  }

  ul {
    list-style: none;
    padding: 8rem 0rem;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  li {
    margin-bottom: $spacing-md;
    a {
      line-height: 5rem;
      font-size: 3rem;
    }
  }

  a {
    color: $portfolio-cta-text;
    text-decoration: none;
    font-size: $font-size-md;
    @include transition();

    &:hover {
      color: $portfolio-primary;
    }
  }

  .cta-button {
    @include button-variant($portfolio-primary, $portfolio-cta-text);
    &:hover,
    &:focus {
      background-color: $portfolio-primary-light;
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
