.technical-skills-section {
  padding: 15rem 0;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  font-size: $portfolio-primary-font;
}
.technical-skills-section h2 {
  font-size: 4rem;
}

.technical-skills-container {
  width: 50%;
  gap: 5rem;
}

.technical-skills-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.technical-skills-divider {
  flex-grow: 1;
  border: 0;
  border-top: 1px solid $portfolio-divider;
}

.technical-skills-text {
  margin-right: 1rem;
}

.technical-skills-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.technical-skills-text li {
  margin-bottom: 3rem;
}
@media (max-width: 1000px) {
  .technical-skills-container {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .technical-skills-container {
    width: 100%;
    padding: 2rem;
  }
  .technical-skills-section h2 {
    font-size: 3rem;
  }
}
